---
---

<div class="row">
  <div class="col-sm-2 abbr">
  {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
    {% else %}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
  {% endif %}
  </div>
  <div id="{{entry.key}}" class="col-sm-10">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title" style="padding-top: 0em; padding-bottom: 0px; margin-bottom: 0em;">{{entry.title}}
        | [
        {% if entry.arxiv %}
          <a href="{{ entry.arxiv }}" role="button" style="padding-top: 0em; padding-bottom: 0px;">arXiv</a>
        {% endif %}
        <!-- {% if entry.bibtex_show %}
        <a class="bibtex btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Bib</a>
        {% endif %} -->
        {% if entry.html %}
          <a href="{{ entry.html }}" style="padding-top: 0em; padding-bottom: 0px;">HTML</a>
        {% endif %}
        {% if entry.url %}
          <a href="{{ entry.url }}" style="padding-top: 0em; padding-bottom: 0px;">Link</a>
        {% endif %}
        {% if entry.pdf %}
          {% if entry.pdf contains '://' %}
          <a href="{{ entry.pdf }}" style="padding-top: 0em; padding-bottom: 0px;">PDF</a>
          {% else %}
          <a href="{{ entry.pdf | prepend: '/assets/files/' | relative_url }}" style="padding-top: 0em; padding-bottom: 0px;">PDF</a>
          {% endif %}
        {% endif %}
        {% if entry.supp %}
          {% if entry.supp contains '://' %}
          <a href="{{ entry.supp }}" style="padding-top: 0em; padding-bottom: 0px;">Supp</a>
          {% else %}
          <a href="{{ entry.supp | prepend: '/assets/files/' | relative_url }}" style="padding-top: 0em; padding-bottom: 0px;">Supp</a>
          {% endif %}
        {% endif %}
        {% if entry.blog %}
          <a href="{{ entry.blog }}" style="padding-top: 0em; padding-bottom: 0px;">Blog</a>
        {% endif %}
        {% if entry.code %}
          <a href="{{ entry.code }}" style="padding-top: 0em; padding-bottom: 0px;">Code</a>
        {% endif %}
        {% if entry.poster %}
          {% if entry.poster contains '://' %}
          <a href="{{ entry.poster }}" style="padding-top: 0em; padding-bottom: 0px;">Poster</a>
          {% else %}
          <a href="{{ entry.poster | prepend: '/assets/files/' | relative_url }}" style="padding-top: 0em; padding-bottom: 0px;">Poster</a>
          {% endif %}
        {% endif %}
        {% if entry.slides %}
          {% if entry.slides contains '://' %}
          <a href="{{ entry.slides }}" style="padding-top: 0em; padding-bottom: 0px;">Slides</a>
          {% else %}
          <a href="{{ entry.slides | prepend: '/assets/files/' | relative_url }}" style="padding-top: 0em; padding-bottom: 0px;">Slides</a>
          {% endif %}
        {% endif %}
        {% if entry.website %}
          <a href="{{ entry.website }}" style="padding-top: 0em; padding-bottom: 0px;">Website</a>
        {% endif %}
        {% if entry.video %}
          <a href="{{ entry.video }}" style="padding-top: 0em; padding-bottom: 0px;">Video</a>
        {% endif %}
    
        {% if entry.zhihu %}
          <a href="{{ entry.zhihu }}" style="padding-top: 0em; padding-bottom: 0px;">Zhihu</a>
        {% endif %}
        ]

      </div>
      <div class="author" style="padding-top: 0em; padding-bottom: 0px; margin-bottom: 0em;">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if site.data.me[author.last] %}
            {% for me in site.data.me[author.last] %}
              {% if me.firstname contains author.first %}
                {% assign author_is_self = true %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              {% if entry.corr %}
                <em><b>{{author.first}} {{author.last}}</b></em><sup>*</sup>
              {% else %}
                <em><b>{{author.first}} {{author.last}}</b></em>
              {% endif %}
            {% else %} 
              {% if entry.corr %}
                <em><b>{{author.first}} {{author.last}}</b></em><sup>*</sup>
              {% else %}
                <em><b>{{author.first}} {{author.last}}</b></em>
              {% endif %}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                {% if entry.corr %}
                  <em><b>{{author.first}} {{author.last}}</b></em><sup>*</sup>
                {% else %}
                  <em><b>{{author.first}} {{author.last}}</b></em>
                {% endif %},
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and 
                {% if entry.corr %}
                <em><b>{{author.first}} {{author.last}}</b></em><sup>*</sup>
                {% else %}
                <em><b>{{author.first}} {{author.last}}</b></em>
                {% endif %}
              .
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}">{{author.last}}, {{author.first}}.</a>
                {% else %}
                  and {{author.first}} {{author.last}}.
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div style="padding-top: 0em; padding-bottom: 0px; margin-bottom: -.1em;">
      {% if entry.type == "article" %}
        In <em>{{entry.journal}}</em>. 
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>. 
      {% endif %}
      {% if entry.year %}
        {{entry.year}}.
      {% endif %}
      
      

      </div>
      {% if entry.special %}
        <div><b>({{entry.special}})</b></div>
      {% endif %}
    {% endif %}

    <!-- <div class="links" style="padding-top: 0em; padding-bottom: 0em; height: 30px; margin-bottom: -.5em;"> -->
    <!-- {% if entry.abstract %}
      <a class="abstract btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Abs</a>
    {% endif %} -->
    
    <!-- </div> -->

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    {% if entry.bibtex_show %}
    <div class="bibtex hidden">
      {% highlight bibtex %}{{ entry.bibtex }}{% endhighlight %}
    </div>
    {% endif %}
  </div>
</div>
